@import url();

:root{
  --bgColor:#333;
  --textPrimary:#fff;
  --textSecondary:#666;
  --primaryText:#fd4;
}

body{
  font-family: roboto;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.2rem;
}

main{
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 max-width: 600px;
}

h1{
  width: 30px;
  color: var(--primaryText);
  margin-left: 5px;
} 

#header{
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 5px;
  align-items: center;
  justify-content: middle;
}
#info{
  color: var(--primaryText);
  font-weight: bold;
}

button{
  background-color: var(--textSecondary);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: var(--textPrimary);
  height: 30px;

}

#game {
  line-height: 30px;
  height: 135px;
  overflow: hidden;
  position: relative;
}

#words{
  filter: blur(5px);
}

#game:focus #words{
  filter: blur(0);
  color: var(--textSecondary);
}


#focus-error{
  position: absolute;
  inset: 0;
  text-align: center;
  align-content: center;
}

#game:focus #focus-error{
  display: none;
}

.word{
  display: inline-block;
  margin: 5px;
}

.letter.correct{
  color: #fff;
}

.letter.incorrect{
  color: #FF00;
}

@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#cursor{
  display: none;
  position: fixed;
  height: 20px;
  width: 2px;
  background-color: var(--primaryText);
  top: 146px;
  left: 28px;
  animation: blink 0.4s infinite;
}

#game:focus #cursor{
  display: block;
}