@import url();

:root{
  --bgColor:#333;
  --textPrimary:#fff;
  --textSecondary:#666;
  --primaryText:#fd4;
}

body{
  font-family: roboto;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.2rem;
}

main{
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 max-width: 600px;
}

h1{
  width: 30px;
  color: var(--primaryText);
  margin-left: 5px;
} 

#header{
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 5px;
  align-items: center;
  justify-content: middle;
}
#info{
  color: var(--primaryText);
  font-weight: bold;
}

button{
  background-color: var(--textSecondary);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: var(--textPrimary);
  height: 30px;
  width: 100px;
}

#game {
  line-height: 30px;
  height: 135px;
  overflow: hidden;
  position: relative;
}

#words{
  filter: blur(5px);
}

#game:focus #words{
  filter: blur(0);
  color: var(--textSecondary);
}


#focus-error{
  position: absolute;
  inset: 0;
  text-align: center;
  align-content: center;
}

#game:focus #focus-error{
  display: none;
}

.word{
  display: inline-block;
  margin: 5px;
}

.letter.correct{
  color: white
}

.letter.incorrect{
  color: red;
}

@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#cursor{
  display: none;
  position: absolute;
  height: 19px;
  width: 2px;
  background-color: var(--primaryText);
  inset: 0;
  margin-top: 6px;
  margin-left: 3px;
  animation: blink 0.45s infinite;
}

#game:focus #cursor{
  display: block;
}


/**virtual keyboaad styling**/

.virtual-keyboard{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid var(--primaryText);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.first-row,.second-row,.third-row,.space-bar{
  margin: 5px;
  height: 50px;
  display: flex;
  gap: 2px;
}


.keys{
  display: flex;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  width: 30px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.keys:active {
  opacity: 0.3;
}
.space{
  width: 150px;
}


/*media query*/
@media (min-width: 750px) {
  .keys {
    width: 50px;
  }
  .first-row,.second-row,.third-row{
    gap: 8px;
  }
  .space{
    width: 200px;
  }
}

